html, body {
  font-size: 12px;
	height: 100%;
  width: 100%
}

.container {
  height: 100%;
  width: 100%;
  position: relative;
}

.calculator-body {
  display: inline-block;
  height: 296px;
  width: 252px;
  padding: 0 6px;
  position: absolute;
  left: calc(50% - 126px);
  top: calc(50% - 166px);
  background-color: lightgrey;
  border: 1px solid grey;
}

.input-block {
  display: block;
  width: 100%;
  height: 52px;
}

.calculator-input {
  width: calc(100% - 12px);
  height: 34px;
  margin: 6px 0;
  border: 1px solid black;
  font-size: 18px;
  text-align: right;
  padding: 4px;
  font-weight: 600;
}

.buttons-block {
  margin: 6px 0;
  width: 100%;
  height: 240px;
  display: inline-block;
  position: relative;
}

.buttons-top {
  width: 100%;
  height: 48px;
  display: block;
}

.buttons-right {
  width: 96px;
  height: 192px;
  float: right;
  position: relative;
  display: inline-block;
}

.buttons-left {
  width: 144px;
  height: 192px;
  float: left;
  position: relative;
  display: inline-block;
}

.button {
  border: 1px solid grey;
  border-radius: 4px;
  background-color: lightgrey;
  height: 44px;
  width: 44px;
  margin: 1px;
  display: inline-block;
  position: relative;
}

.button-equal {
  height: 88px;
  width: 94px;
  background-color: pink;
}

.button-zero {
  height: 44px;
  width: 93px;
}

.buttons-top .button {
  width: calc(25% - 4.5px);
}

.buttons-top .button:first-child {
  margin-left: 1;
}

.buttons-top .button:last-child {
  margin-right: 0;
}

